@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background: rgb(255, 161, 116);
  background: linear-gradient(0deg, rgba(255, 161, 116, 1) 0%, rgba(234, 213, 255, 1) 100%);
  background-repeat: no-repeat;
}